sm-tree{
    position: relative;
    left: -1em;
    width: 100%;
}

sm-autocomplete{
    width: 100%;
    z-index: 0;
}

.img-toolbar{
    height: 50px;
}

.img-toolbar ion-button{
    float: right;
}