<!-- <p-panel> -->
  
  <div>
    
  <!-- <p-header>
    <i class="fa fa-th-list" aria-hidden="true"></i>
    <label class="ui-panel-title">Elementos de inspección</label>
  </p-header> -->

  <div  [formGroup]="inpForm2" class="ui-g">
    <div class="ui-g-12">
      <div  style="margin-right: 25px;">
        <s-elemento-inspeccion-node *ngIf="value" [value]="value" [editable]="editable" [opciones]="opciones" [disabled]="disabled" [nivelRiesgoList]="nivelRiesgoList"
          [diligenciable]="diligenciable" (onElementoClick)="elementoClick($event)" [tiposHallazgo]="tipoHallazgoList"></s-elemento-inspeccion-node>

        <!-- <a   (click)="adicionarElementoInp()" *ngIf="editable" title="Adicionar nuevo elemento">Nuevo elemento</a> -->
      </div>
    </div>
  </div>
 
  </div>
