.cabecera{
    display: flex;
    align-items: center;
}
.realizada{
    background-color: #ffaa00;
}
.nueva{
    background-color: #ff0000;
}
.finalizada{
    background-color: #00AA00;
}
.tarea-nombre{
    color: #333;
}

strong{
    color:#333;
}