<ng-template ngFor let-node [ngForOf]="nodes" let-i="index">
  <ul>
    <div style="display: flex;flex-direction: row;border-bottom: solid thin #ccc;align-items: center;">
      <div (click)="toggle(node)" *ngIf="node[field] && node[field].length > 0" [ngClass]="node['expanded'] ? 'li-icon li-expanded':'li-icon'"></div>
      <li (click)="toggle(node)">{{node[label]}}</li>
      <div [ngClass]="node['selected'] ? 'li-selectable li-selected' : 'li-selectable'" (click)="toggleSelect(node)">
        <div [ngClass]="node['childTouched'] ? 'child-touch' : 'child-untouch'" class=""></div>
      </div>
    </div>
    <sm-tree *ngIf="node[field]" [nodes]="node[field]" [field]="field" [label]="label" [ngClass]="node['expanded'] ? 'ul-expanded ul-init' : 'ul-unexpanded ul-init'"
      [parent]="node" [single]="single" (onClear)="clearSelect()" [isRoot]="false"></sm-tree>
  </ul>
</ng-template>