.inner-card{
    width: 100%;
}

h6{
    margin-bottom: 0px !important;
    margin-top: 20px !important;
}

.desv-div{
    margin-bottom: 20px;
    border-bottom: solid thin #ccc;
    padding-bottom: 10px;
    text-align: left;
}