.mostrar{
    display: block;
}
.ocultar{
    display: none;
}


.sc-ion-modal-md-h {
    /* --width: 200%; */
    --min-width: 80% !important;
}

.popover-content.sc-ion-popover-md {
    
    --min-width: 80% !important;
}