<ion-header>
    <ion-toolbar>
        <ion-title>Actualizar App</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding >
    
    <h2>Existe una nueva versión de la App </h2>

    <p>Por favor actualiza a la versión más reciente para seguir haciendo uso de la aplicación</p>
    <p>
        Si no puedes visualizar el boton de actualizar desde la tienda de aplicaciones, 
        desinstala la aplicación y vuelve a instalarla.
    </p>
    <ion-button (click)="redireccionar()">
        Actualizar
    </ion-button>
</ion-content>