<ion-split-pane>
  <ion-menu side="end">

    <ion-header style="text-align: center;" color="primary">

      <ion-select  compareWith="id" placeholder="--Empresa--" [value]="empresaSelect" (ionChange)="cambiarEmpresa($event)">
        <ion-select-option *ngFor="let emp of empresasList" [value]="emp">{{emp.nombreComercial}}</ion-select-option>
      </ion-select>
      <ion-item>
        <img [src]="empresaSelect?.logo" style="width:50%;margin: auto;" />
      </ion-item>

      <img [src]="usuario?.avatar" *ngIf="usuario?.avatar" />
      <ion-icon name="contact" style="height: 128px;width: 128px;color: rgb(59, 162, 220);" *ngIf="!usuario?.avatar"></ion-icon>
      <ion-item style="text-align: center;">
        <ion-label> {{usuario?.email}} </ion-label>
      </ion-item>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">

          <ion-item button (click)="navegar('/app/inp/elaboracionInspeccion')" *sTienePermiso="['INP']">
            <ion-icon slot="start" src="/assets/images/inp.svg" class="nostroke"></ion-icon>
            <ion-label> {{nombreInp}} </ion-label>
          </ion-item>

          <ion-item button (click)="navegar('/app/auc/reporteObservacion')" *sTienePermiso="['AUC']">
            <ion-icon slot="start" src="/assets/images/auc.svg" class="nostroke"></ion-icon>
            <ion-label> {{nombreAuc}} </ion-label>
          </ion-item>

          <ion-item button (click)="navegar('/app/cop/consultaActas')" *sTienePermiso="['COP']">
            <ion-icon slot="start" src="/assets/images/cop.svg" class="nostroke"></ion-icon>
            <ion-label> {{nombreCop}} </ion-label>
          </ion-item>

          <ion-item button (click)="navegar('/app/sec/secInicio')" *sTienePermiso="['SEC']">
            <ion-icon slot="start" src="/assets/images/sec.svg" class="nostroke"></ion-icon>
            <ion-label> {{nombreSec}} </ion-label>
          </ion-item>


          <ion-item button (click)="navegar('/app/ind/consultaTablero')" *sTienePermiso="['IND']">
            <ion-icon slot="start" src="/assets/images/ind.svg" class="nostroke"></ion-icon>
            <ion-label> {{nombreInd}} </ion-label>
          </ion-item>

          <ion-item button (click)="navegar('/app/ayuda')" *sTienePermiso="['CONF_GET_MANUSR']">
            <ion-icon slot="start" name="help"></ion-icon>
            <ion-label>Ayuda</ion-label>
          </ion-item>

          <ion-item button (click)="offlineToggle()">
            <ion-icon slot="start" name="cloud-done" *ngIf="!offline"></ion-icon>
            <ion-icon slot="start" name="cloud-outline" *ngIf="offline"></ion-icon>
            <ion-label *ngIf="!offline"> Activar offline </ion-label>
            <ion-label *ngIf="offline"> Activar online </ion-label>
          </ion-item>

          <ion-item button (click)="logOutConfirm()">
            <ion-icon slot="start" name="exit"></ion-icon>
            <ion-label> Salir </ion-label>
          </ion-item>

        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main> </ion-router-outlet>
</ion-split-pane>