.tarjeta{
    width: 100%;
}

.tarjetaTitulo{
    text-align: center;
    align-items: center;
    font-size: 24px;

}

.tarjetaContenido{
    text-align: start;
    width: 100%;
}

.subtitulos{
    color: black;
}


.evidencia{
    width: 60px;
    height: 60px;
}

.Tittle{
    top: 10px;
    height: 200px;
}

ion-slides {
    //--bullet-background: #3ba2dc;
    --bullet-background: blue;
    //--bullet-background-opacity: 1;
    --bullet-background-active: red;
    //--bullet-opacity: 1;
    //--bullet-opacity-active: .1;
 } 

 .buttonF{
     position: fixed;
 }

 .img-toolbar{
    height: 50px;
}

.img-toolbar ion-button{
    float: right;
}