.chip{
    height: 22px;
    align-items: center;
    //opacity: 0.1;
    margin-top: 5px;
    background: white;
    //border-radius: 0;
    bottom: -11px;
    right: -4px;
}

.labelchip{
    opacity: 1;
}