.tarea-content{
    border-bottom: solid thin #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

h2{
    color: #222;
    margin-bottom: 10px;
}

.realizada{
    background-color: #ffaa00;
}
.nueva{
    background-color: #ff0000;
}
.finalizada{
    background-color: #00AA00;
}